/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

$primary: mat-palette($mat-indigo);
$warn: mat-palette($mat-red);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #fafafa;
}

.form-error {
  color: mat-color($warn);
}
